#mensagem{
    font-size: 15px;
    margin-top: 20px;
    
}
.principal{
    margin-left: 30%;
    margin-top: 10px;
}
label{
    font-size: 20px;
    margin-right: 50px;
}
button{
    margin-left: 10%;
    margin-top: 10px;
}